<table>
  <thead>
    <th (click)="onSortClick($event, 'logs')" class="arrow-up">Logs</th>
    <th (click)="onSortClick($event, 'status')">status</th>
    <th (click)="onSortClick($event, 'timestamp')">Timestamp</th>
  </thead>
  <tbody>
    <tr *ngFor="let rows of logsData" [ngClass]="{'successDiv':rows.status==='success', 'warningDiv': rows.status==='warning', 'errorDiv':rows.status==='error'}">
      <td> <div class="block-with-text">{{rows.logs}}</div> </td>
      <td> {{rows.status}} </td>
      <td> {{rows.timestamp}} </td>
    </tr>
  </tbody>
</table>

<!-- [ngClass]="{'successDiv':rows.status==='success', 'warningDiv': rows.status==='warning', 'errorDiv':rows.status==='error'}" -->